name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build Docker Image
      run: docker build -t devops-app .

    - name: Deploy to EC2
  uses: appleboy/ssh-action@v1
  with:
    host: ${{ secrets.EC2_IP }}
    username: ubuntu
    key: ${{ secrets.EC2_KEY }}
    port: 22
    script: |
      cd ~
      cd devops-python-app
      git pull origin main
      docker-compose down
      docker-compose up -d --build

